.logo{
    float: left;
  }
  body{
    background-color: rgb(57,57,57);
    font-style: Arial, sans-serif;
    color:whitesmoke
  }
  
  nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(57,57,57);
  }
  
  li {
    float: left;
  }
  p{
    font-size:19px
  }
  
  li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    font-size: 22px;
    font-style: Georgia;
    padding: 30px 100px;
    text-decoration:none;
  }
  li {
    float: left;
    border-right:2px solid #ffffff;
  }
  
  li:last-child {
    border-right: 2px solid #ffffff;
  }
  
  li a:hover {
    text-decoration: underline;
    background-color:rgb(105, 105, 105);
  }
  header{
    background-color:rgb(57,57,57);
  }
  footer{
    background-color:rgb(57,57,57);
    padding: 10px;
    font-style:  Arial, sans-serif;
    color:whitesmoke
  }
  a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  body {
    font-family: Arial, sans-serif;
  }
  .text-only-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .text-only-nav li {
    border:none;
    display: inline;
  
  }
  .text-only-nav a{
    border:none;
    display: inline;
    font-family:Arial, sans-serif ;
    font-size: 16px;
    margin-left: 2900px;
    padding:0px;
  }
  .text-only-nav li a:hover{
  text-decoration: none;
  background-color: transparent;
  }
  img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.map-container {
    height: 100px;
    width: 50%;
}

